.hamburger {
    cursor: pointer;
    font-size: 30px; /* Hamburger icon size */
    font-weight: 100;
}

.menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
}

.hamburger-menu {
    position: relative;
}

.menu {
    padding: 10px;
    width: 200px;
    display: none;
    text-align: left;
    position: absolute;
}

.hamburger-menu:hover .menu {
    display: block;
}

.active:before {
    content: '• ';
    color: black;
    margin-right: 5px;
}

.hamburger-menu .menu a {
    opacity: 0.4;
    transition: opacity 0.3s, font-weight 0.3s;
}

.hamburger-menu .menu a:hover {
    opacity: 1;
    font-weight: bold;
}